@import './utils/variables';
@import './utils/is-hidden';
@import './utils/visually-hidden';

@import './base/common';
@import './base/container';

@import './components/button';
@import './components/film-card';
@import './components/pagination';
@import './components/backdrop';
@import './components/loading-spiner';
@import './components/modal-window-group-information';
@import './components/dark-theme';

@import './layout/header';
@import './layout/main-section';
@import './layout/footer';
@import './layout/modal-film-info';

@import './themes/dark-theme';



