<!-- добавить svg  когда будет спрайт -->
<footer class="footer">
  <div class="footer__container">
    <p class="footer__copyright">&#169; 2020 | All Rights Reserved |</p>
    <div class="footer__developed"> 
      <p class="developed">Developed with</p>
      
      <!-- <svg class="footer__heart-icon">
      <use class="heart-icon" href=""></use>
    </svg> -->
      <p class="students">by <button type="button" class="underline button">GoIT Students</button></p>
    </div>
  </div>
</footer>



