<!-- HEADER -->
<header class="header header-home">
  <div class="header-box container">
    <nav class="nav">
      <a class="logo link" href="./index.html">
        <svg class="logo__img" width="24" height="24">
          <use href="./images/sprite.svg#icon-film"></use>
        </svg>
        <span class="logo__title">Filmoteka</span>
      </a>
      <ul class="menu list">
        <li class="menu__item">
            <button class="menu__button home-button active-page" type="button">Home</button>
        </li>
        <li class="menu__item">
            <button class="menu__button library-button active-page" type="button">My Library</button>
        </li>
      </ul>
    </nav>
    <form class="search-form" id="search-form">
      <input class="search-form__input" type="text" name="query" autocomplete="off" placeholder="Search films"
      />
      <button class="search-form__button" type="submit">
        <svg class="button__img" width="12" height="12">
          <use href="./images/sprite.svg#icon-search-2"></use>
        </svg>
      </button>
    </form>
    <div class="toolbar container">
      <div class="theme-switch">
        <svg class="theme-switch__icon" role="img" aria-label="Иконка солнца">
          <use href="./images/sprite.svg#sun"></use>
        </svg>
    
        <div class="theme-switch__control">
          <input
            class="theme-switch__toggle"
            type="checkbox"
            name="theme"
            id="theme-switch-toggle"
            aria-label="Переключить между тёмной и светлой темой"
          />
          <label
            aria-hidden="true"
            class="theme-switch__track"
            for="theme-switch-toggle"
          >
          </label>
          <div aria-hidden="true" class="theme-switch__marker"></div>
        </div>
    
        <svg class="theme-switch__icon" aria-label="Иконка луны">
          <use href="./images/sprite.svg#moon"></use>
        </svg>
      </div>
    </div>
    <div class="library-menu">
      <button class="library-watched-btn button" type="button">Watched</button>
      <button class="library-queue-btn button" type="button">Queue</button>
    </div>
  </div>
</header>
<!-- END-HEADER -->

