<section class="main-section">
  <div class="container">
    <ul class="main-section__card-list js-main-section__card-list list ">
      <!-- Для примера, можно пофиксить -->
      <li class="main-section__card-item"><div class="box"></div>
      <!--add button for testing -->
        <button class="button" type="button">Click</button></li>
      <li class="main-section__card-item"><div class="box"></div></li>
      <li class="main-section__card-item"><div class="box"></div></li>
      <li class="main-section__card-item"><div class="box"></div></li>
      <li class="main-section__card-item"><div class="box"></div></li>
    </ul>
  </div>
</section>
