<section class="main-section">
  <div class="container">
    <ul class="main-section__card-list js-main-section__card-list list ">
      <!-- Для примера, можно пофиксить -->
      <li class="main-section__card-item"><div class="box"></div>
      <!--add button for testing -->
        <button class="button" type="button">Click</button></li>
      <li class="main-section__card-item"><div class="box"></div></li>
      <li class="main-section__card-item"><div class="box"></div></li>
      <li class="main-section__card-item"><div class="box"></div></li>
      <li class="main-section__card-item"><div class="box"></div></li>
    </ul>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <ul class="pagination__list">
      <li class="pagination__item">
        <button class="pagination__btn" id="previous-btn" type="button">
        <svg width="16" height="16">
          <use href="./images/sprite.svg#icon-arrow-left">
          </use>
        </svg>
      </button>
    </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="1-btn" type="button">1</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="2-btn" type="button">2</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="3-btn" type="button">3</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="4-btn" type="button">4</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="5-btn" type="button">5</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="6-btn" type="button">6</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="7-btn" type="button">7</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="8-btn" type="button">8</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="9-btn" type="button">...</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="next-btn" type="button">
        <svg width="16" height="16">
          <use href="./images/sprite.svg#icon-arrow-right">
          </use>
        </svg>
      </button>
    </li>
    </ul>
  </div>
</section>
