<section class="collection">
  <div class="container">
    <ul class="collection__list js-collection__list list"></ul>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <ul class="pagination__list list">
      <li class="pagination__item">
        <button class="pagination__btn pagination__btn-arrows" id="previous-page-btn" type="button">
        <svg class="pagination__svg" width="16" height="16">
          <use href="./images/sprite.svg#icon-arrow-left">
          </use>
        </svg>
      </button>
    </li>
    <li class="pagination__item pagination__mobile-hidden">
      <button class="pagination__btn" id="first-page-btn" type="button"></button>
    </li>
      <li class="pagination__item pagination__mobile-hidden content-hidden" id="previous-dots-li">
        <button class="pagination__btn" id="previous-dots-btn" type="button">
          <svg class="pagination__svg" id="previous-dots" width="11" height="16">
            <use href="./images/sprite.svg#icon-dots">
            </use>
          </svg>
        </button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="minus-2-btn" type="button"></button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn " id="minus-1-btn" type="button"></button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn pagination__btn-active" id="current-page-btn" type="button">1</button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn" id="plus-1-btn" type="button"></button>
      </li>
      <li class="pagination__item ">
        <button class="pagination__btn" id="plus-2-btn" type="button"></button>
      </li>
      
      <li class="pagination__item pagination__mobile-hidden content-hidden" id="next-dots-li">
        <button class="pagination__btn" id="next-dots-btn" type="button">
          <svg class="pagination__svg" width="11" height="16">
            <use href="./images/sprite.svg#icon-dots">
            </use>
          </svg>
        </button>
      </li>
      <li class="pagination__item pagination__mobile-hidden">
        <button class="pagination__btn" id="last-page-btn" type="button"></button>
      </li>
      <li class="pagination__item">
        <button class="pagination__btn pagination__btn-arrows" id="next-page-btn" type="button">
        <svg class="pagination__svg" id="next-dots" width="16" height="16">
          <use href="./images/sprite.svg#icon-arrow-right">
          </use>
        </svg>
      </button>
    </li>
    </ul>
  </div>
</section>
