<div class="backdrop hidden" data-modal>
    <div class="modal-window-group-information">
        <button type="button" class="close-btn" data-modal-close>
        <svg class="close-btn_icon">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
        </button>
        <ul class="group list">
            <li class="group_item">
               <!-- <img src="./images/group-img/reks.img" alt=""> -->
                <div>
                    <p>Andrii Reks</p>
                    <p>Developer</p>
                </div>
            </li>   
        </ul>
    </div>
</div>