<div class="modal-backdrop is-hidden">
  <div class="modal-window">
    <div class="modal-window-container">
      <div class="modal-window-container-poster"></div>
      <div class="right-side">
        <div class="modal-window-container-info">
          <h2 class="film-name-heading">A FISTFUL OF LEAD</h2>

          <div class="film-info-box">
            <ul class="list film-info-list-item">
              <li class="film-info-text-left">Vote / Votes</li>
              <li class="film-info-text-left">Popularity</li>
              <li class="film-info-text-left">Original Title</li>
              <li class="film-info-text-left">Genre</li>
            </ul>

            <ul class="list film-info-list-item">
              <li class="value-item">
                <span class="film-rating-left">{{voteAverage}}</span class="film-rating-right"> / {{voteCount}}
              </li>
              <li class="film-info-text-right film-info-text-right-numbers">{{popularity}}</li>
              <li class="film-info-text-right film-info-text-right-title">{{originalName}}</li>
              <li class="film-info-text-right">{{genres}}</li>
            </ul>
          </div>

          <!-- <table class="film-info-list">
            <tr class="list film-info-list-item">
              <td class="film-info-text-left td-margin">Vote / Votes</td>
              <td class="">
                <span class="film-rating-left">7.3</span> /
                <span class="film-rating-right">1260</span>
              </td>
            </tr>

            <tr class="list film-info-list-item">
              <td class="film-info-text-left td-margin">Popularity</td>
              <td class="film-info-text-right film-info-text-right-numbers">100.2</td>
            </tr>

            <tr class="list film-info-list-item">
              <td class="film-info-text-left td-margin">Original title</td>
              <td class="film-info-text-right film-info-text-right-title">A FISTFUL OF LEAD</td>
            </tr>

            <tr class="list film-info-list-item">
              <td class="film-info-text-left td-margin">Genre</td>
              <td class="film-info-text-right">Western</td>
            </tr>
          </table> -->
        </div>
        <div class="modal-window-container-about">
          <h3 class="about-heading">About</h3>
          <p class="about-text">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
            most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
            and the other three escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were planning to hit the very
            same bank! As tensions rise, things go from bad to worse as they realise the bags of
            gold are filled with lead... they’ve been double crossed – but by who and how?
          </p>
        </div>
        <div class="modal-window-container-forms">
          <button class="library-watched-btn button modal-btn" type="button">add to Watched</button>
          <button class="library-queue-btn button modal-btn" type="button">add to queue</button>
        </div>
      </div>
    </div>
  </div>
</div>
