<div class="modal-backdrop is-hidden">
  <div class="modal-window">
    <button type="button" class="modal-close-button">
      <svg class="modal-close-button-icon">
        <use href="./images/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-window-container">
      <div class="modal-window-container-poster"></div>
      <div class="right-side">

        <div class="modal-window-container-info">
          <h2 class="film-name-heading">A FISTFUL OF LEAD</h2>

          <div class="film-info-list">
            <ul class="list film-info-list-item film-info-list-item-left">
              <li class="film-info-text-left">Vote / Votes</li>
              <li class="film-info-text-left">Popularity</li>
              <li class="film-info-text-left">Original Title</li>
              <li class="film-info-text-left">Genre</li>
            </ul>

            <ul class="list film-info-list-item film-info-list-item-right">
              <li class="film-info-text-right film-info-text-right-numbers">
                <span class="film-rating-left">7.3</span> <span class="film-rating-right"> / 1260</span> 
              </li>
              <li class="film-info-text-right film-info-text-right-numbers">100.2</li>
              <li class="film-info-text-right film-info-text-right-title">A FISTFUL OF LEAD</li>
              <li class="film-info-text-right">Western</li>
            </ul>
          </div>

        </div>
        <div class="modal-window-container-about">
          <h3 class="about-heading">About</h3>
          <p class="about-text">
            Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the
            most corrupt settlement of the gold rush towns. But not all goes to plan one is killed
            and the other three escapes with bags of gold hide out in the abandoned gold mine where
            they happen across another gang of three – who themselves were planning to hit the very
            same bank! As tensions rise, things go from bad to worse as they realise the bags of
            gold are filled with lead... they’ve been double crossed – but by who and how?
          </p>
        </div>

        <div class="modal-window-container-forms">
          <button class="library-watched-btn button modal-btn modal-btn-watched" type="button">
            add to Watched
          </button>
          <button class="library-queue-btn button modal-btn modal-btn-queue" type="button">
            add to queue
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
