<div class="backdrop hidden" data-modal>
    <div class="modal-window-group-information container">
        <button type="button" class="close-btn" data-modal-close>
        <svg class="close-icon">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
        </button>
        <h2 class="team-name">Silicium Team</h2>
        <ul class="group list">
            <li class="group__item">
               <img class="group__item-foto" src="./images/group-img/georg.jpg" alt="photo Heorhii A.">
               <div class="participant-info">
                <p class="participant-info__name">Heorhii A.</p>
                <p class="participant-info__role">Team-Lead</p>
               </div>
                <a class="git" href="https://github.com/heorhii-aksiuk">
                    <svg class="git-icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/reks.jpg" alt="photo Andrii R.">
                <div class="participant-info">
                    <p class="participant-info__name">Andrii R.</p>
                 <p class="participant-info__role">Developer</p>
                   </div>
                 
                 <a class="git" href="https://github.com/Andriyer">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/bohdan.jpg" alt="photo Bohdan L.">
                <div class="participant-info">
                    <p class="participant-info__name">Bohdan L.</p>
                 <p class="participant-info__role">Developer</p>
                   </div>
                 
                 <a class="git" href="https://github.com/Leopoldovich">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/denys.jpg" alt="photo Denys M.">
                <div class="participant-info">
                    <p class="participant-info__name">Denys M.</p>
                 <p class="participant-info__role">Developer</p>
                   </div>
                 
                 <a class="git" href="https://github.com/DenysMelnychenko2021">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/egor_tuz.jpg" alt="photo Egor T.">
                <div class="participant-info">
                    <p class="participant-info__name">Egor T.</p>
                    <p class="participant-info__role">Developer</p>
               </div>
                 
                 <a class="git" href="https://github.com/tuzegor">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/kate_krilova.jpg" alt="photo Kateryna K.">
                <div class="participant-info">
                    <p class="participant-info__name">Kateryna K.</p>
                    <p class="participant-info__role">Developer</p>
               </div>
                 
                 <a class="git" href="https://github.com/koljuchka93">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/kate_osadcha.jpg" alt="photo Kateryna O.">
                <div class="participant-info">
                    <p class="participant-info__name">Kateryna O.</p>
                    <p class="participant-info__role">Developer</p>
               </div>
                 
                 <a class="git" href="https://github.com/Kate-Osadcha">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/vanyok.jpg" alt="photo Vanyok S.">
                <div class="participant-info">
                    <p class="participant-info__name">Vanyok S.</p>
                    <p class="participant-info__role">Developer</p>
               </div>
                 <a class="git" href="https://github.com/Bender148">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group__item">
                <img class="group__item-foto" src="./images/group-img/yurii.jpg" alt="photo Yura P.">
                <div class="participant-info">
                    <p class="participant-info__name">Yura P.</p>
                    <p class="participant-info__role">Scrum-Master</p>
               </div>
                 
                 <a class="git" href="https://github.com/Iurii-P">
                     <svg class="git-icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
        </ul>
    </div>
</div>