<div class="backdrop " data-modal>
    <div class="modal-window-group-information container">
        <button type="button" class="close-btn" data-modal-close>
        <svg class="close-btn_icon">
            <use href="./images/sprite.svg#icon-close"></use>
        </svg>
        </button>
        <ul class="group list">
            <li class="group_item">
               <img class="foto_item" src="./images/group-img/georg.jpg" alt="foto1">
                <p class="participant_info participant_info_name">Georg </p>
                <p class="participant_info participant_info_role">Team-Lead</p>
                <a href="https://github.com/heorhii-aksiuk">
                    <svg class="git_icon">
                        <use href="./images/sprite.svg#icon-github"></use>
                    </svg>
                </a>
            </li>
            <li class="group_item">
                <img class="foto_item" src="./images/group-img/yurii.jpg" alt="foto2">
                 <p class="participant_info participant_info_name">Yurii</p>
                 <p class="participant_info participant_info_role">Skrum-Master</p>
                 <a href="https://github.com/Iurii-P">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group_item">
                <img class="foto_item" src="./images/group-img/egor_tuz.jpg" alt="foto3">
                 <p class="participant_info participant_info_name">Egor</p>
                 <p class="participant_info participant_info_role">Developer</p>
                 <a href="https://github.com/tuzegor">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group_item">
                <img class="foto_item" src="./images/group-img/kate_krilova.jpg" alt="foto4">
                 <p class="participant_info participant_info_name">Kate</p>
                 <p class="participant_info participant_info_role">Developer</p>
                 <a href="https://github.com/koljuchka93">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group_item">
                <img class="foto_item" src="./images/group-img/kate_osadcha.jpg" alt="foto1">
                 <p class="participant_info participant_info_name">Kate</p>
                 <p class="participant_info participant_info_role">Developer</p>
                 <a href="https://github.com/Kate-Osadcha">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group_item">
                <img class="foto_item" src="./images/group-img/reks.jpg" alt="foto1">
                 <p class="participant_info participant_info_name">Andrii</p>
                 <p class="participant_info participant_info_role">Developer</p>
                 <a href="https://github.com/Andriyer">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group_item">
                <img class="foto_item" src="./images/group-img/denys.jpg" alt="foto1">
                 <p class="participant_info participant_info_name">Denys</p>
                 <p class="participant_info participant_info_role">Developer</p>
                 <a href="https://github.com/DenysMelnychenko2021">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group_item">
                <img class="foto_item" src="./images/group-img/no-image.jpg" alt="foto1">
                 <p class="participant_info participant_info_name">Bogdan</p>
                 <p class="participant_info participant_info_role">Developer</p>
                 <a href="https://github.com/Leopoldovich">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
             <li class="group_item">
                <img class="foto_item" src="./images/group-img/no-image.jpg" alt="foto1">
                 <p class="participant_info participant_info_name">Ivan</p>
                 <p class="participant_info participant_info_role">Developer</p>
                 <a href="">
                     <svg class="git_icon">
                         <use href="./images/sprite.svg#icon-github"></use>
                     </svg>
                 </a>
             </li>
        </ul>
    </div>
</div>