.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);;
    z-index: 100;
  
    transition: opacity 250ms linear, visibility 250ms linear;
  }