.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-bg-color;
    opacity: 1;
    z-index: 1000;
    transition: visibility $cubic-bezier, opacity $cubic-bezier;
  }