//======Main, footer style======//
body.dark-theme {
    background-color: $dark-main-bg-color;
    & .card__title,
    & .footer__copyright,
    & .footer__developed,
    & .footer__copyright,
    & .footer__developed,
    & .pagination__btn,
    & .participant-info__name {
        color: $dark-text-color;
    }
    & .card__text {
        color: $dark-orange-color;
    }
    & .pagination__btn-active,
    & .next-dots-btn {
        background-color: $dark-orange-color;
    }
    & .pagination__btn-arrows {
        background-color: $dark-footer-bg-color;
        border: 1px solid $grey-color;
    }
    & .pagination__btn-arrows:hover,
    & .pagination__btn-arrows:focus {
        border: 1px solid $dark-orange-color;
    }
    & .pagination__svg {
        fill: $dark-orange-color;
    }
    & .footer{
        border-top: 0.1px solid $grey-color;
    }
    & .footer,
    & .footer__button {
        color: $dark-text-color;
        background-color: $dark-footer-bg-color;
    }
    & .footer__button {
        color: $dark-text-color;
        background-color: $dark-footer-bg-color;
    }
    & .card__rating {
        background-color: $dark-orange-color;
        color: $white-color;
    }
    & .film-info-frame,
    & .close-btn {
        background-color: $grey-color;
        color: $dark-text-color;
        fill: $dark-text-color;
    }
    & .close-btn:hover,
    & .close-btn:focus {
        fill: $dark-orange-color;
    }
    & .modal-btn {
        background-color: $dark-main-bg-color;
        color: $dark-text-color;
        border-color: $dark-text-color;
    }
    & .modal-btn:hover,
    & .modal-btn:focus {
        background-color: $dark-main-bg-color;
        color: $dark-orange-color;
        border-color: $dark-orange-color
    }
    & .upbtn__icon{
        fill: $grey-color;
    }
    & .modal-error,
    & .modal-error__header,
    & .modal-error .close-btn,
    & .modal-window-group-information .close-btn,
    & .modal-window-group-information {
        color: $dark-text-color;
        background-color: $dark-main-bg-color;
    }
    & .team-name {
        color: $white-color;
        -webkit-text-stroke-width: 0px;
    }

}

//======Switcher======//
.toolbar {
    display: flex;
    justify-content: flex-end;
    padding: 16px 24px;
    position: absolute;
    right: 0;
    top: 180px;
}
.theme-switch {
    display: flex;
    align-items: center;
} 
.theme-switch__icon {
    color: $dark-text-color;
    height: 15px;
    width: 15px;
    margin-right: 8px;
    margin-left: 8px;
}
  
.theme-switch__control {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 32px;
    height: 16px;
    border-radius: 50em;
    padding: 3px 0;
}  
.theme-switch__toggle {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    height: 0;
    width: 0;
    pointer-events: none;
}
.theme-switch__track {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: transparent;
    user-select: none;
    background-color: #333;
    border-radius: inherit;
    z-index: 1;
    cursor: pointer;
}
  
.theme-switch__marker {
    position: relative;
    background-color: #fff;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    z-index: 2;
    pointer-events: none;
    box-shadow: 0 1px 1px $backdrop-bg-color;
    transform: translateX(3px);
    transition: transform $cubic-bezier;
}
  
.theme-switch__toggle:checked + .theme-switch__track {
    background-color: $dark-orange-color;
}
  
.theme-switch__toggle:checked ~ .theme-switch__marker {
    transform: translateX(19px);
}
  
.theme-switch__toggle:focus + .theme-switch__track,
.theme-switch__toggle:active + .theme-switch__track {
    box-shadow: 0 0 0 2px $dark-orange-color;
}