.card {
    &__img {
      border-radius: 5px;
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
      object-fit: cover;
      &:hover,
      &:focus {
        box-shadow: (7px -7px 21px, rgba(255, 107, 1, 0.6));
        opacity: 0.9;
      }
      @media screen and (max-width: $phone-max-size) {
        height: 402px;
        width: 280px;
      }
      @media screen and (min-width: $tablet-min-size) and (max-width: $tablet-max-size) {  
        height: 398px;
        width: 294px;
      }
      @media screen and (min-width: $desktop-min-size) {
        height: 398px;
        width: 274px;
    }
    }
    &__wrap {
      margin-top: 10px;
      max-width: 280px;
      min-height: 32px;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      word-wrap: break-word;
      cursor: default;
      @media screen and (min-width: $tablet-min-size) {
        line-height: 1.33;
        max-width: 294px;
      }
      @media screen and (min-width: $desktop-min-size) {
        max-width: 274px;
      }
    }
    &__title {
      font-weight: 500;
      font-size: 12px;
      line-height: 1.17;
      color: #000000;
      text-transform: uppercase;
      word-wrap: break-word;
      @media screen and (min-width: $tablet-min-size) {
        font-size: 12px;
      line-height: 1.33;
      }
    }
    &__data {
      display: flex;
      flex-wrap: wrap;
    }
    &__genres {
      display: inline-flex;
      flex-wrap: wrap;
    }
    &__genre {
      margin-right: 5px;
    }
    &__text {
      color: $orange-color;
    }
    &__year--library {
      margin-right: 5px;
    }
    &__rating {
      margin-left: 5px;
      padding: 0 10px;
      border-radius: 5px;
      background-color: $orange-color;
      color: $white-color;
    }
  }
  
  