.card {
    &__img {
      border-radius: 5px;
      margin-bottom: 10px;
      height: 402px;
  
      opacity: 1;
  
      transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover,
      &:focus {
        box-shadow: (7px -7px 21px, rgba(255, 107, 1, 0.6));
        opacity: 0.9;
      }
    }
  
    &__wrap {
      font-family: Roboto, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: calc(16 / 12);
    }
  
    &__title {
      color: #000000;
      text-transform: uppercase;
    }
  
    &__data {
      display: flex;
      flex-wrap: wrap;
    }
  
    &__genres {
      display: inline-flex;
      flex-wrap: wrap;
    }
  
    &__genre {
      margin-right: 5px;
    }
  
    &__text {
      color: #ff6b08;
    }
  
    &__year {
      cursor: default;
    }
  
    &__year--library {
      margin-right: 5px;
    }
  
    &__release {
      // margin-left: 5px;
      padding: 0 10px;
      border-radius: 5px;
      background-color: #ff6b08;
      color: #ffffff;
  
      cursor: default;
    }
  }
  
  @media screen and (max-width: 767px) {
    .card__img {
      width: 280px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1023px) {
    .card__img {
      width: 293px;
    }
  }
  
  @media screen and (min-width: 1024px) {
    .card__img {
      width: 274px;
    }
}