.preloader {
  background: $backdrop-bg-color;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  transition: 500ms all;
  opacity: 1;
  visibility: visible;
  &__loader {
    width: 100px;
    height: 100px;
    border: 10px solid $grey-color;
    border-radius: 50%;
    border-top-color: $orange-color;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: 800ms spin infinite linear;
  }
  &__percent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    color: $orange-color;
    font-size: 23px;
    font-weight: 500;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &.done {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
