// .modal-window-group-information{
//     min-width: 882px; 
//     min-height: 609px;
//     background-color: rgba(255, 255, 255, 1);
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 4px; 
//     padding: 40px;
//   }

//   .close-btn{
//     display: flex;
//     justify-content: center;
//     align-items: center;
  
//     position: absolute;
//     top: 8px;
//     right: 8px;
  
//     height: 30px;
//     width: 30px;
//     border-radius: 50%;
//     border: 1px solid rgba(0, 0, 0, 0.1);;
//     background-color: transparent;
  
//     transition-duration: 250ms;
//     transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

//     &_icon{
//         width: 16px;
//         height: 16px;
//     }

//     &:hover, &:focus{
//         fill: #FF6B08;
//         cursor: pointer;
//     }
//   }
