.footer {
  width: 100%;
  background: #f7f7f7;

  &__container {
    font-weight: 400;
    color: $grey-color;
  }

  &__button {
    border: 0px;
    background-color: #54545400;
    color: $grey-color;
    cursor: pointer;
  }

  &__button:focus,
  &__button:hover {
    color: $black-color;
    transition: color $cubic-bezier;
  }
}

.developed {
  margin-right: 10px;
}

.students {
  position: relative;
  margin-left: 10px;
}

.underline::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 83%;
  height: 0.5px;
  background-color: $grey-color;
  border-radius: 2px;

  &:hover,
  &:focus {
    color: $black-color;
    transition: color $cubic-bezier;
  }
}

@media screen and (max-width: $phone-max-size) {
  .footer {
    height: 100px;

    &__container {
      font-size: 14px;
      line-height: 1.14;
    }

    &__copyright {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 29px;
      margin-bottom: 10px;
    }

    &__developed {
      display: flex;
      align-items: center;
      justify-content: center;
      padding-bottom: 30px;
    }

    &__heart-icon {
      width: 14px;
      height: 12.75px;
    }
  }

  .heart-icon {
    width: 14px;
    height: 12.75px;
  }
}

@media screen and (min-width: $tablet-min-size) {
  .footer {
    height: 77px;

    &__container {
      font-size: 16px;
      line-height: 1.19;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 30px;
      padding-bottom: 28px;
    }

    &__copyright {
      margin-right: 3px;
    }

    &__developed {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__heart-icon {
      width: 14px;
      height: 12.88px;
    }
  }

  .heart-icon {
    width: 14px;
    height: 12.88px;
  }
}
