.header {
  height: 230px;
  background-color: $grey-modal-color;
  background-size: cover;
  background-position: center;
}
.header-box {
  padding-top: 46px;
@media screen and (min-width: $tablet-min-size) {
  padding-top: 41px;
}
}
.header-home {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-img/320px-head-home.jpg);
  @media (min-device-pixel-ratio: 2) and (max-width: $phone-max-size),
    (min-resolution: 192dpi) and (max-width: $phone-max-size),
    (min-resolution: 2dppx) and (max-width: $phone-max-size) {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/320px-head-home@2x.jpg);
  }
  @media screen and (min-width: $tablet-min-size) {
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/768px-head-home.jpg); 
  }
  @media (min-device-pixel-ratio: 2) and (min-width: $tablet-min-size),
      (min-resolution: 192dpi) and (min-width: $tablet-min-size),
      (min-resolution: 2dppx) and (min-width: $tablet-min-size){
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-img/768px-head-home@2x.jpg);
    }
  @media screen and (min-width: $desktop-min-size) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/1024px-head-home.jpg);  
  }
  @media (min-device-pixel-ratio: 2) and (min-width: $desktop-min-size),
      (min-resolution: 192dpi) and (min-width: $desktop-min-size),
      (min-resolution: 2dppx) and (min-width: $desktop-min-size) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-img/1024px-head-home@2x.jpg);
    }
        // animation-name: changeOpacityH;
        // animation-duration: 800ms;
        // animation-fill-mode: forwards;
}
.header-library {
  background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
    url(../images/header-img/320px-head-library.jpg);
  @media (min-device-pixel-ratio: 2) and (max-width: $phone-max-size),
    (min-resolution: 192dpi) and (max-width: $phone-max-size),
    (min-resolution: 2dppx) and (max-width: $phone-max-size) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/320px-head-library@2x.jpg);
  }
  @media screen and (min-width: $tablet-min-size) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/768px-head-library.jpg);  
  }
  @media (min-device-pixel-ratio: 2) and (min-width: $tablet-min-size),
      (min-resolution: 192dpi) and (min-width: $tablet-min-size),
      (min-resolution: 2dppx) and (min-width: $tablet-min-size) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-img/768px-head-library@2x.jpg);
    }
  @media screen and (min-width: $desktop-min-size) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
      url(../images/header-img/1024px-head-library.jpg);
  }
  @media (min-device-pixel-ratio: 2) and (min-width: $desktop-min-size),
      (min-resolution: 192dpi) and (min-width: $desktop-min-size),
      (min-resolution: 2dppx) and (min-width: $desktop-min-size) {
      background-image: linear-gradient(rgba(0, 0, 0, 0.56), rgba(0, 0, 0, 0.56)),
        url(../images/header-img/1024px-head-library@2x.jpg);
    }
  // animation-name: changeOpacityL;
  // animation-duration: 800ms;
  // animation-fill-mode: forwards;
}

.header-home .library-menu,
.header-library .search-form {
  display: none;
}
.header-home .home-button.active-page::after,
.header-library .library-button.active-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 3px;
  left: 0px;
  bottom: -3px;
  background-color: $orange-color;
}

.nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
.logo {
  display: flex;
  align-items: baseline;

  &__img {
    display: block;
  }

  &__title {
    display: none;
    font-weight: 500;
    font-size: 30px;
    line-height: 1.17;
    color: $white-color;
    @media screen and (min-width: $tablet-min-size) {
        display: block;
        margin-left: 10px;  
    }
  }
}
.menu {
  display: flex;

  &__item {
    position: relative;
  }
  &__item:not(:last-child) {
    margin-right: 39px;
  }

  &__button {
    padding: 0;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: inherit;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    text-transform: uppercase;
    color: $white-color;
  }
}

.search-form {
  margin: 0 auto;
  margin-top: 41px;
  position: relative;
  @media screen and (min-width: $tablet-min-size) {
    margin-top: 43px;
    width: 336px;
    margin-top: 41px;
  }

  &__input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    caret-color: $white-color;
    border-bottom: 0.5px solid $white-color;
    background-color: inherit;

    color: $white-color;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14;
  }

  &__input::placeholder {
    color: $white-color;
  }

  &__button {
    position: absolute;
    width: 12px;
    height: 12px;
    bottom: 6px;
    right: 1px;
    padding: 0;
    border: none;
    outline: none;
    background: inherit;
    cursor: pointer;
  }

  &__input:focus::placeholder {
    color: transparent;
  }
}

.search-form__button .button__img {
  position: absolute;
  bottom: 0;
  left: 0;
}

.library-menu {
  text-align: center;
  margin-top: 49px;
}

.library-menu button {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-align: center;
  text-transform: uppercase;

  color: $white-color;
  background-color: inherit;
  border: 1px solid $white-color;
}

.library-menu button:not(:last-child) {
  margin-right: 15px;
}

// @keyframes changeOpacityH {
//   0% {
//     opacity: 0.8;
//   }
//   100% {
//     opacity: 1;
//   }
// }
// @keyframes changeOpacityL {
//   0% {
//     opacity: 0.8;
//   }
//   100% {
//     opacity: 1;
//   }
// }