.collection {
  padding-top: 20px;
  padding-bottom: 40px;
  &__list {
    margin-top: -20px;
  }
  &__item {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .collection {
    padding-top: 60px;
    padding-bottom: 50px;
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
    }
    &__item {
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }
  }
}
@media screen and (min-width: 1024px) {
  .collection {
    &__item {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
}

// Pagination

.pagination {
  margin: 0 auto;
  width: 280px;
  padding-top: 40px;
  padding-bottom: 40px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: transparent;
  }

  &__svg {
    display: inline-block;
  }

  &__btn-actve {
    background-color: $orange-color;
    color: $white-color;
  }

  &__btn-arrows {
    background-color: #f7f7f7;
    cursor: pointer;
  }

  &__mobile-hidden {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .pagination {
    padding-top: 50px;
    padding-bottom: 60px;
    width: 374px;

    &__btn {
      width: 31.75px;
    }

    &__btn-arrows, &__btn-actve {
    width: 40px;
    }

    &__mobile-hidden {
    display: block;
  }
  }
}

.content-hidden {
  pointer-events: none;
  opacity: 0;
}
