.main-section {
  &__card-list {
  //     display: none;
  // // убрать по окончанию работы!!!!!!
    margin-top: -20px;
    padding-bottom: 40px;
  }
  &__card-item {
  //         display: none;
  // // убрать по окончанию работы!!!!!!
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    &__card-list {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
    }
    &__card-item {
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }
  }
}
@media screen and (min-width: 1024px) {
  .main-section {
    &__card-item {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
}

//Создан для примера
.box {
  margin: 0 auto;
  background-color: red;
  width: 274px;
  height: 439px;
}


// Pagination

.pagination {
  margin: 0 auto;
  width: 280px;
  padding-bottom: 40px;

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__dots {
    display: none;
  }

  &__btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    min-width: 40px;
    min-height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: transparent;
  }

  &__btn-actve {
    background-color: $orange-color;
    color: $white-color;
  }

  &__btn-arrows {
     background-color: #F7F7F7;
     cursor: pointer;
  }

  &__mobile-hidden {
    display: none;
  }

}

