.collection {
  &__list {
    padding-top: 20px;
    @media screen and (min-width: $tablet-min-size) {
      display: flex;
      flex-wrap: wrap;
      padding-top: 60px;
      justify-content: center;
    }
  }
  &__item {
    @media screen and (max-width: $phone-max-size) {
      margin-bottom: 20px;
    } 
  }
  @media screen and (min-width: $tablet-min-size) and (max-width: $tablet-max-size) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
      margin-right: 30px;
    }
    &__item:nth-child(2n) {
      margin-right: 0;
    }
    &__item:nth-last-child(-n+2) {
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: $desktop-min-size) {
    &__item:not(:last-child) {
      margin-bottom: 30px;
      margin-right: 30px;
    }
    &__item:nth-child(3n) {
      margin-right: 0;
    }
    &__item:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }
}



// Pagination

.pagination {
  margin: 0 auto;
  width: 280px;
  padding-top: 40px;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet-min-size) {
    padding-top: 50px;
    padding-bottom: 60px;
    width: 374px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__btn {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.33;
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
    @media screen and (min-width: $tablet-min-size) {
      width: 31.75px;
    }
  }

  &__svg {
    display: inline-block;
  }

  &__btn-active {
    background-color: $orange-color;
    color: $white-color;
    @media screen and (min-width: $tablet-min-size) {
      width: 40px;
    }
  }

  &__btn-arrows {
    background-color: $grey-footer-color;
    cursor: pointer;
    @media screen and (min-width: $tablet-min-size) {
      width: 40px;
    }
  }

  &__mobile-hidden {
    display: none;
    @media screen and (min-width: $tablet-min-size) {
      display: inline-block;
    }
  }
}
.content-hidden {
  pointer-events: none;
  opacity: 0;
}
