.collection {
  padding-top: 20px;
  padding-bottom: 40px;
  &__list {
    margin-top: -20px;
  }
  &__item {
    margin-top: 20px;
  }
}

@media screen and (min-width: 768px) {
  .collection {
    padding-top: 60px;
    padding-bottom: 50px;
    &__list {
      display: flex;
      flex-wrap: wrap;
      margin-top: -30px;
      margin-left: -30px;
    }
    &__item {
      margin-top: 30px;
      margin-left: 30px;
      flex-basis: calc((100% - 60px) / 2);
    }
  }
}
@media screen and (min-width: 1024px) {
  .collection {
    &__item {
      flex-basis: calc((100% - 90px) / 3);
    }
  }
}
