.up-button {
  padding: 5px;
  display: none;
  position: fixed;
  bottom: 15px;
  right: 10px;
  z-index: 1000;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: solid 2px $grey-color;
  cursor: pointer;
  background-color: transparent;
  align-items: center;

  &:hover,
  &:focus {
    line-height: 0;
    border-color: $orange-color;
    transition: border-color $cubic-bezier;
  }

  &__icon {
    width: 25px;
    height: 25px;
    fill: $grey-color;

    .up-button:hover &,
    .up-button:focus & {
      fill: $orange-color;
      transition: fill $cubic-bezier;
    }
  }
}
